<div class="row">
    <div class="col-md-12">
        <div class="product-name"></div>
        <div class="product-score"></div>
        <div class="product-price"></div>
        <div class="product-reviews"></div>
    </div>
</div>
