<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body>
<div class="container pt-50">
    <% include ../partials/form %>
    <% include ../partials/notification %>
    <% include ../partials/product %>
</div>

<% include ../partials/scripts %>

</body>
</html>
